<a href="https://colab.research.google.com/github/Seunsoipe/API-Development-for-Machine-Learning-Checkpoint/blob/main/API_Development_for_Machine_Learning_Checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Objective

In this checkpoint, you will be able to make your first API request

Instructions

Define an API
Get the request API from this url (http://api.open-notify.org/astros.json)

Show us the status code of response

Extract data from the this API using json

Create a dataframe containing your final data from your obtained json data.

## What is an API?

An application programming interface (API) is a way for two or more computer programs to communicate with each other. It is a type of software interface, offering a service to other pieces of software.[1] A document or standard that describes how to build or use such a connection or interface is called an API specification. A computer system that meets this standard is said to implement or expose an API. The term API may refer either to the specification or to the implementation.

In contrast to a user interface, which connects a computer to a person, an application programming interface connects computers or pieces of software to each other.



Reference:https://en.wikipedia.org/wiki/API

In [1]:
import requests

In [16]:
res = requests.get('http://api.open-notify.org/astros.json')

## Status code of response

In [17]:
res.status_code

200

## Extracting data from the API using json

In [18]:
res.headers

{'Server': 'nginx/1.10.3', 'Date': 'Tue, 06 Dec 2022 11:45:42 GMT', 'Content-Type': 'application/json', 'Content-Length': '623', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [19]:
response = requests.get(
    'http://api.open-notify.org/astros.json',
    params={'q': 'requests+language:python'},
)

In [20]:
response

In [21]:
json_res = response.json()

json_res

{'people': [{'craft': 'Tiangong', 'name': 'Cai Xuzhe'},
  {'craft': 'Tiangong', 'name': 'Chen Dong'},
  {'craft': 'Tiangong', 'name': 'Liu Yang'},
  {'craft': 'ISS', 'name': 'Sergey Prokopyev'},
  {'craft': 'ISS', 'name': 'Dmitry Petelin'},
  {'craft': 'ISS', 'name': 'Frank Rubio'},
  {'craft': 'ISS', 'name': 'Nicole Mann'},
  {'craft': 'ISS', 'name': 'Josh Cassada'},
  {'craft': 'ISS', 'name': 'Koichi Wakata'},
  {'craft': 'ISS', 'name': 'Anna Kikina'},
  {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'},
  {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'},
  {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'}],
 'number': 13,
 'message': 'success'}

In [24]:
json_response = response.json()
print(f'Repository name: {repository["name"]}')  # Python 3.6+
print(f'Repository description: {repository["description"]}')  # Python 3.6+

Repository name: grequests
Repository description: Requests + Gevent = <3

In [25]:
import json

data= json.loads(response.text)

In [33]:
data

{'people': [{'craft': 'Tiangong', 'name': 'Cai Xuzhe'},
  {'craft': 'Tiangong', 'name': 'Chen Dong'},
  {'craft': 'Tiangong', 'name': 'Liu Yang'},
  {'craft': 'ISS', 'name': 'Sergey Prokopyev'},
  {'craft': 'ISS', 'name': 'Dmitry Petelin'},
  {'craft': 'ISS', 'name': 'Frank Rubio'},
  {'craft': 'ISS', 'name': 'Nicole Mann'},
  {'craft': 'ISS', 'name': 'Josh Cassada'},
  {'craft': 'ISS', 'name': 'Koichi Wakata'},
  {'craft': 'ISS', 'name': 'Anna Kikina'},
  {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'},
  {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'},
  {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'}],
 'number': 13,
 'message': 'success'}

## Creating a dataframe

In [34]:
import pandas as pd

In [31]:
df = pd.DataFrame.from_dict(data, orient='columns')

In [37]:
df

                                               people  number  message
0          {'craft': 'Tiangong', 'name': 'Cai Xuzhe'}      13  success
1          {'craft': 'Tiangong', 'name': 'Chen Dong'}      13  success
2           {'craft': 'Tiangong', 'name': 'Liu Yang'}      13  success
3        {'craft': 'ISS', 'name': 'Sergey Prokopyev'}      13  success
4          {'craft': 'ISS', 'name': 'Dmitry Petelin'}      13  success
5             {'craft': 'ISS', 'name': 'Frank Rubio'}      13  success
6             {'craft': 'ISS', 'name': 'Nicole Mann'}      13  success
7            {'craft': 'ISS', 'name': 'Josh Cassada'}      13  success
8           {'craft': 'ISS', 'name': 'Koichi Wakata'}      13  success
9             {'craft': 'ISS', 'name': 'Anna Kikina'}      13  success
10    {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'}      13  success
11  {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'}      13  success
12       {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'}      13  success